*, *::before, *::after {
  box-sizing: border-box;
}

.grid-content {
  display: grid;
  position: relative;
  /* Sub-cell offset for smooth scrolling */
  top: calc(-1 * var(--offset-y, 0px));
  left: calc(-1 * var(--offset-x, 0px));
}

  /* Base cell styling */
.cell {
  padding: 6px 10px;
  border-left: 1px solid #616161;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  display: flex;
  align-items: center;
  background: white;

  /* Column headers */
  &.col-header {
    /* background: linear-gradient(180deg, #4a90e2 0%, #357abd 100%); */
    background: #ffe082;
    color: black;
    justify-content: center;
    position: sticky;
    z-index: 20;
    border-bottom: 1px solid #616161;
    font-weight: 500;
    color: #424242;

    /* show resize handler */
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
      height: 100%;
      cursor: col-resize;
    }

    &:hover::after {
      background: #21212196;
      width: 4px;
      transition: width 0.2s ease-in-out;
    }

    &.skp-sz {
      contain: inline-size;
    }

    > .content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
    }
  }

  &.row-header {
    background: #fff;
    position: sticky;
    z-index: 15;
    color: #424242;
    border-bottom: 1px solid #ff6789;

    > .content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
    }
  }

  &.data {
    justify-content: end;
    color: #1a237e;
    border-bottom: 1px solid #ff6789;

    &.custom-rendered {
      justify-content: center;
      padding: 0;
    }
  }

  &.corner {
    background: #ffe082;
    position: sticky;
    z-index: 30;
    border: none !important;

    &.edge-r {
      border-right: 1px solid #616161 !important;
    }
  }

  &.selection-overlay {
    pointer-events: none;
    background: rgba(0, 120, 215, 0.1);
    border: 2px solid #0078d7;
    z-index: 5;
    position: relative;
    box-sizing: border-box;
  }
}
